@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Inter", sans-serif;
    background-color: #f3f4e5
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #e2e3d9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-section {
    display: flex;
    align-items: center;
  }
  
  .navbar-section ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .navbar-section a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .navbar-section a:hover {
    color: #919191;
  }
  
  .logo img {
    height: 40px;
  }
  
  .center {
    flex: 1;
    justify-content: center;
  }
  
  .right {
    justify-content: flex-end;
  }

  .rodape {
    background-color: #59554e;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    margin-top: 60px;
  }
  
  .rodape-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .logo-rodape {
    width: 120px;
    height: auto;
    filter: brightness(0) invert(1); 
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #fafaf0;
  color: #333;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #ccc;
  padding: 20px;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 20px;
}

.pedido {
  flex: 2;
  background-color: #ddd;
  padding: 20px;
  border-radius: 12px;
  min-height: 300px;
}

.pedido ul {
  list-style: none;
  margin-top: 10px;
  padding-left: 0;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box {
  background-color: #ddd;
  padding: 20px;
  border-radius: 12px;
}

.cupon, .pagamento {
  background-color: #ccc;
  padding: 20px;
  margin: 0 30px 20px 30px;
  border-radius: 12px;
  text-align: center;
}

.pagamento {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}